{% extends "ecommerce/base.html" %}
{% block title %}<title>Checkout</title>{% endblock title %}

{% block content %}
      {% include 'ecommerce/nav.html' %}

<div class="container section-heading">
  <main>
   
     <div class="row ">
        <div class="col-md-7 col-lg-8">
       
          {% if address %}
            <h6>Default Shipping Address:</h6>
            <p class="ml-2">{{address.shipping_address}}</p>
            <p class="ml-2">{{address.phone}}</p>
          {% else %}
          <div class="alert alert-warning" role="alert">
          You have no default Shipping Address!
          </div>
        {% endif %}
        </div>

      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Shipping Address</h4>
        <form class="needs-validation" method='POST' >
        {% csrf_token %}
          <div class="row g-3">
           
            <div class="col-12 mb-2">
              <label for="address" class="form-label">Address</label>
              
              <input name='shipping_address' type="text" class="form-control" id="address" placeholder="1234 Main Street" >
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-12 mb-2">
              <label for="phone" class="form-label">Contact Number </label>
              <input name='phone' type="text" class="form-control" id="phone" placeholder="01. . ." >
            </div> 

            
          </div>

          <hr class="my-4">

          <div class="form-check">
            <input name='shipping_default' value='N' type="radio" class="form-check-input" id="same-address" >
            <label class="form-check-label" for="same-address">Set new shipping address as default</label>
          </div>

          {% if address %}
          <div class="form-check">
            <input name='shipping_default' value='D' type="radio" class="form-check-input" id="save-info" required>
            <label class="form-check-label" for="save-info">Use default shipping address</label>
          </div>
          {% endif %}<br>



          <hr class="my-4">

          <h4 class="mb-3">Payment</h4>

          <div class="my-3">

            <div class="form-check">
              <input id="stripe" name="payment_option" value='S'  type="radio" class="form-check-input" required>
              <label class="form-check-label" for="debit">Stripe</label>
            </div>

            <div class="form-check">
              <input id="cash" name="payment_option" value='C'  type="radio" class="form-check-input" required>
              <label class="form-check-label" for="paypal">Cash On Delivery</label>
            </div>
          </div>


          <hr class="my-4">

          <button id="continue" class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017–2021 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
{% endblock content %}
{% block script  %}
<script>

document.getElementById('save-info').addEventListener("click", function(){
  document.getElementById('address').required=false
  document.getElementById('phone').required=false
  document.getElementById('zip').required=false

})
document.getElementById('same-address').addEventListener("click", function(){
document.getElementById('address').required=true
document.getElementById('phone').required=true
document.getElementById('zip').required=true

})
document.getElementById('cash').addEventListener("click", function(){
document.getElementById('continue').innerHTML='Place Order'

})
</script>

{% endblock script  %}
