{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  

  <title>Porfolio</title>  

<link href={% static 'main.d8e0d294.css' %} rel="stylesheet"></head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<title>Bootstrap Example</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>






<body class="">
  {% if message %}
    <div class="alert alert-primary" role="alert">
      {{message}}
    </div>
    
  {% endif %}


 

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url({% static 'assets/images/img-01.jpg' %})"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>I am {{info.name}}</h1>
      <p>Web developer</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://facebook.com/arif.rabbani.902/" title="">
          <i class="fa fa-facebook"></i>
        </a>
       
        <a class="fa-icon fa-icon-2x" href="https://github.com/rabbanibcs" title="">
          <i class="fa fa-github"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="#" title="">
          <i class="fa fa-linkedin"></i>
        </a>
        
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src={% static 'assets/images/me.jpg' %} class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>{{info.about}}</p>

              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div class="row">
              <div class="col-md-4">
                <a href="{% url 'post-index' %}"><img src={% static 'assets/images/blog.png' %} class="img-responsive" alt=""></a>
                <h3 class="h5">Blog App (Django)</h3>
                <a href="https://github.com/rabbanibcs/portfolio/tree/main/blog">Source Code</a>
              </div>
              <div class="col-md-4">
                <a href="{% url 'products' %}"><img src={% static "assets/images/shop.png" %} class="img-responsive" alt=""></a>
                <h3 class="h5">Ecommerce App (Django)</h3>
                <a href="https://github.com/rabbanibcs/portfolio/tree/main/ecommerce">Source Code</a>
              </div>
              {% comment %} <div class="col-md-4">
                <img src={% static "assets/images/img-04.jpg"%} class="img-responsive" alt="">
                <h3 class="h5">Denz for Nilon</h3>
                <p>Jan 2017</p>
              </div> {% endcomment %}
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <h3 class="h5 date-title">Master of Science</h3>
                  <p>University of Dhaka</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <h3 class="h5 date-title">Bachelor of Science</h3>
                  <p>University of Dhaka</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English  <small>Fluent</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Bangla  <small>Fluent</small></h3>
                </div>
              </div>
              
            </div>
          </div>
        </div>

        
        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.linkedin.com/in/arif-rabbani-325401211/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>Arif Rabbani</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://github.com/rabbanibcs" title=""><span class="social-round-icon fa-icon"><i class="fa fa-github"></i></span>Arif Rabbani</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>
            <form method="POST" class="reveal-content">
              {% csrf_token %}
              <div class="form-group">
                <input name="email" type="email" class="form-control" id="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea name="message" class="form-control" rows="5" placeholder="Enter your message" required></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary">Send message</button>
              </div> 
            </form>
          </div>
        </div>
       
     </div>
   </div>
 </div>

</main>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src={% static "./main.bc58148c.js" %}></script></body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</html>